body {
  background-color: white;
}

.site-header h1 {
  font-family: 'Pacifico', cursive;
  font-size-adjust: auto;
  display: center;
  text-align: center;
  border: solid 4px;
  padding: 10px auto 10px;
}

.Navigation {
  border-top: solid 4px;
  border-bottom: solid 4px;
}

.Navigation a {
  color: grey;
  text-decoration: none;
  display: center;
}

.Navigation a:hover,
a:active {
  background-color: transparent;
}

.Navigation ul {
  text-align: center;
}

.Navigation li {
  font-family: 'Pacifico', cursive;
  <!-- font-family: 'Vesper Libre', serif;
  --> font-size: 80px;
  width: 100px;
  border: none;
  display: inline-block;
  margin: 0px 20px 0px 10px;
  text-align: center;
}


/*color is not working*/

.Site-Inner {
  background-image: url("https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/12507282_10153129686696920_3714748205813515746_n.jpg?oh=fd7bb96032749b5f1b83670c5e2809e4&oe=5802A214");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 600px;
  padding: 15px;
  border-bottom: 10px;
  margin: auto;

}

.Site-Inner p {
  color: black;
  text-align: center;
  margin-left: 300px;
  margin-top: 70px;
font-family: 'Vesper Libre', serif;
}

.resume-title{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  text-align: center;
}
.resume-listed h3{
  font-family: 'Vesper Libre', serif;
  font-size: 20px;
  margin:0px;
}
.resume-listed h4{
  font-family: 'Vesper Libre', serif;
  font-size: 15px;
  margin: 0px;
}
.resume-listed ul{
  font-family: 'Vesper Libre', serif;
  font-size: 15px;
  margin: 0px;
}
.footer {
  border-top: solid 4px;
  border-bottom: solid 4px;
}

.footer ul {
  text-align: center;
  margin-bottom: 5px;
}

.footer li {
  font-family: 'Pacifico', cursive;
  <!-- font-family: 'Vesper Libre', serif;
  --> font-size: 100px;
  width: 100px;
  border: none;
  display: inline-block;
  margin: 0px 20px 0px 10px;
  text-align: center;

}

.footer a {
  color: grey;
  text-decoration: none;
  display: center;
}

.footer a:hover,
a:active {
  background-color: transparent;
}

.footer p{
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 10px;
  width: 200px;
  border: none;
  color: grey;
  text-decoration: none;
  margin: auto;
  padding-bottom: 10px;
}



}
/*body {
  background-color: cyan;
}
.site-header h1{
  font-family: 'Pacifico', cursive;
  font-size-adjust: auto;
  display: center;
  text-align: center;
  border: solid 4px;
  padding: 10px auto 10px;
}
.Navigation a {
  color: grey;
  text-decoration: none;
  display: center;
}
.Navigation a:hover, a:active {
  background-color: transparent;
}
.Navigation li{
  font-family: 'Vesper Libre', serif;
  font-size: 20px;
  border:none;
  text-align: center;
  padding: 50px auto 50px auto;
  display: inline-block;
  margin: auto 10px auto 10px;
}
/*color is not working*/


/*.Site-Inner {
  color: cyan;
}

.Site-Inner img {
  width: 100px;
  height: 100px;*/


}

/*font-family: 'Pacifico', cursive;
font-family: 'Vesper Libre', serif;*/
*/
