body {
  background-color: white;
  margin: auto;
}

.site-header h1 {
  font-family: 'Pacifico', cursive;
  font-size-adjust: auto;
  display: center;
  text-align: center;
  border: solid 4px;
  padding: 10px auto 10px;
  margin-left: auto;
  margin-right: auto;

}

.Navigation {
  border-top: solid 4px;
  border-bottom: solid 4px;

}

.Navigation a {
  color: #E80C7A;
  text-decoration: none;
  display: center;
}

.Navigation a:hover,
a:active {
  background-color: transparent;
  font-weight: bolder;
  color: #595959;
}



.Navigation ul {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;

}

.Navigation li {
  font-family: 'Pacifico', cursive;
  <!-- font-family: 'Vesper Libre', serif;
  --> font-size: 80px;
  width: 100px;
  border: none;
  display: inline-block;
  margin: 0px 20px 0px 10px;
  text-align: center;
}

.mobileimg{
  clear: both;
}
.Site-Inner {
  background-image: url("https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/12507282_10153129686696920_3714748205813515746_n.jpg?oh=fd7bb96032749b5f1b83670c5e2809e4&oe=5802A214");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 600px;
  padding: 15px;
  border-bottom: 10px;
  margin: auto;
  max-width: 100%;
}

.Site-Inner p {
  color: black;
  text-align: center;
  margin-left: 300px;
  margin-top: 70px;
font-family: 'Vesper Libre', serif;
}

.resume-title{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  text-align: center;
}
.resume-listed h3{
  font-family: 'Vesper Libre', serif;
  font-size: 20px;
  margin:0px;
}
.resume-listed h4{
  font-family: 'Vesper Libre', serif;
  font-size: 15px;
  margin: 0px;
}
.resume-listed ul{
  font-family: 'Vesper Libre', serif;
  font-size: 15px;
  margin: 0px;
}
.footer {
  border-top: solid 4px;
  border-bottom: solid 4px;
}

.footer ul {
  text-align: center;
  margin-bottom: 5px;
}

.footer li {
  font-family: 'Pacifico', cursive;
  <!-- font-family: 'Vesper Libre', serif;
  --> font-size: 100px;
  width: 100px;
  border: none;
  display: inline-block;
  margin: 0px 20px 0px 10px;
  padding-bottom: 10px;
  text-align: center;

}

.footer a {
  color: #E80C7A;
  text-decoration: none;
  display: center;
}

.footer a:hover,
a:active {
  background-color: transparent;
  font-weight: bolder;
  color: #595959;
}

.copyright {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 12px;
  max-width: 500px;
  border: none;
  color: #595959;
  text-decoration: none;
  margin: auto;
  padding-bottom: 10px;
}
@media only screen and (max-width: 650px){
  .Navigation li {
    width: 100%;
    margin: auto;
  }
  .Site-Inner {
    background-image: none;
    background-color: white;
    height: auto;
    border-top: 10px;
    width: 100%;
    margin: auto;
  }

  .Site-Inner p {
   margin: auto;
   width: auto;
   padding: 15px;
   }}
